#hubWidget {
	background: #fff;
	color: #000;
	.header {
		border-bottom: 5px solid #000;
	}
	.content {
		&.loading {
			min-height: 20px;
			background: url("images/loading-light.gif") top center no-repeat;
		}
	}
	a {
		color: #000;
		&:hover {
			color: #5091cd;
		}
	}
	.pubdate {
		color: #aaa;
	}
	.hubpower {
		height: 20px;
		width: 100%;
		background: url("images/hubpower-light.png") top right no-repeat;
		span {
			display: none;
		}
	}
}