#hubWidget {
  background: #222;
  color: #fff;
}
#hubWidget .header {
  border-bottom: 5px solid #fff;
}
#hubWidget .content.loading {
  min-height: 20px;
  background: url("images/loading-dark.gif") top center no-repeat;
}
#hubWidget a {
  color: #fff;
}
#hubWidget a:hover {
  color: #9fc3e4;
}
#hubWidget .pubdate {
  color: #fff;
}
#hubWidget .hubpower {
  height: 20px;
  width: 100%;
  background: url("images/hubpower-dark.png") top right no-repeat;
}
#hubWidget .hubpower span {
  display: none;
}
#hubWidget {
  padding: 15px;
  width: 250px;
}
#hubWidget .header {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#hubWidget ul {
  list-style: none;
  padding: 0;
}
#hubWidget ul li {
  margin-bottom: 10px;
}
#hubWidget ul p {
  margin: 0;
  padding: 0;
}
#hubWidget {
  font-family: "Myriad Pro", Myriad, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
  line-height: 130%;
}
#hubWidget .header {
  font-size: 20px;
  font-weight: bold;
}
#hubWidget .headline {
  font-size: 15px;
}
#hubWidget a {
  text-decoration: none;
}
#hubWidget .pubdate {
  font-size: 13px;
  color: #aaa;
  font-style: italic;
}
#hubWidget .hubpower {
  text-align: right;
}
