#hubWidget {
  background: #fff;
  color: #000;
}
#hubWidget .header {
  border-bottom: 5px solid #000;
}
#hubWidget a {
  color: #000;
}
#hubWidget a:hover {
  color: #5091cd;
}
#hubWidget .pubdate {
  color: #aaa;
}
#hubWidget {
  padding: 15px;
  width: 250px;
}
#hubWidget .header {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#hubWidget ul {
  list-style: none;
  padding: 0;
}
#hubWidget ul li {
  margin-bottom: 10px;
}
#hubWidget ul p {
  margin: 0;
  padding: 0;
}
#hubWidget {
  font-family: "Myriad Pro", Myriad, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
}
#hubWidget .header {
  font-size: 20px;
  font-weight: bold;
}
#hubWidget .headline {
  font-size: 15px;
}
#hubWidget a {
  text-decoration: none;
}
#hubWidget .pubdate {
  font-size: 13px;
  color: #aaa;
}
#hubWidget .hubpower {
  text-align: right;
}
