.hub-widget {
	color: #eee;
	.header {
		border-bottom: 5px solid #eee;
	}
	&.loading {
		background: url("http://hub.jhu.edu/assets/shared/img/loading-dark.gif") top center no-repeat;
	}
	a {
		color: #eee;
		&:hover {
			color: lighten($hopkins_blue, 20%);
		}
	}
	.pubdate {
		color: #bbb;
	}
	.hubpower {
		.link {
			a {
				color: lighten($hopkins_blue, 20%);
				&:hover {
					color: #aaa;
				}
			}
		}
		.image {
			background: url("http://hub.jhu.edu/assets/shared/img/widget-hubpower-dark.png") top right no-repeat;
		}
	}
}
