.hub-widget {
	color: $black;

	.header { border-bottom: 5px solid $black; }

	.loading { background: url("https://hub.jhu.edu/assets/shared/img/loading-light.gif") top center no-repeat; }

	a {
		color: $black;
		&:hover { color: $hopkins_blue; }
	}

	.pubdate { color: $gray3; }

	.hubpower {
		.link {
			a {
				color: $hopkins_blue;
				&:hover { color: $gray3; }
			}
		}
		
		.image { background: url("https://hub.jhu.edu/assets/shared/img/widget-hubpower-light.png") top right no-repeat; }
	}
}
