.hub-widget {
	color: $gray1;

	.header { border-bottom: 5px solid $gray1; }

	.loading { background: url("https://hub.jhu.edu/assets/shared/img/loading-dark.gif") top center no-repeat; }

	a {
		color: $gray1;
		&:hover { color: lighten($hopkins_blue, 20%); }
	}

	.pubdate { color: $gray2; }

	.hubpower {
		.link {
			a {
				color: lighten($hopkins_blue, 20%);
				&:hover { color: $gray3; }
			}
		}
		
		.image { background: url("https://hub.jhu.edu/assets/shared/img/widget-hubpower-dark.png") top right no-repeat; }
	}
}
